<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - URL Shortener</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">URL Shortener</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    {% if logged %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if logged %}
                <span class="navbar-text">
                You're logged in as <b> {{ user.username }}! </b> &nbsp;
                </span>
                <a class="mr-auto btn btn-outline-danger" href="{{ url_for('logout') }}">
                    Logout
                </a>
            {% else %}
                <a class="mr-auto btn btn-outline-secondary" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>


    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>

</html>