{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="card mt-4">
    <img src="{{ url_for('static', filename='banner.jpg') }}" height="220px" class="card-img-top">
    
    <div class="card-body">
        <h5 class="card-title">Welcome to URL shortener</h5>
        <br />
        <p class="card-text">We shortener URL to a concise size so that sharing URL become easy and short.</p>
        {% if logged %}
            <div class="row">
                <div class="col-6 mt-4">
                    <form method="post" action="{{ url_for('generate') }}">
                        <div class="mb-3">
                            <label for="InputURL" class="form-label">Enter URL</label>
                            <input type="url" class="form-control" id="InputURL" name="inputUrl">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        {% else %}
            <p class="card-text">You are required to login first.</p>
            <br />
            <a href="{{ url_for('login') }}" class="btn btn-primary">Go to login</a>
            <br />
            <br />
            <p>Don't have account?</p>
            <a href="{{ url_for('register') }}" class="btn btn-sm btn-outline-secondary">Go to registration</a>
        {% endif %}
    </div>
</div>

{% endblock %}