{% extends "base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
<h2>Registration</h2>
<div class="row">
    <div class="col-6 mt-2">
        <form method="post" action="{{ url_for('register') }}" class="shadow p-3 mb-5 bg-body rounded">
            <div class="mb-3">
                <label for="InputName" class="form-label">Enter name:</label>
                <input type="text" class="form-control" id="InputName" name="uname" required>
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Enter email:</label>
                <input type="email" class="form-control" id="InputEmail" name="uemail" required>
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Enter password:</label>
                <input type="password" class="form-control" id="InputPassword" name="upass" required>
            </div>
            <div class="mb-3">
                <label for="CfmInputPassword" class="form-label">Confirm password:</label>
                <input type="password" class="form-control" id="CfmInputPassword" name="cfmpass" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
            <br />
            <br />
            <p>Already have account?</p>
            <a href="{{ url_for('login') }}" class="btn btn-sm btn-outline-secondary">Go to login</a>
        </form>
    </div>
</div>
{% endblock %}